[submodule "modules/font-modular"]
	path = modules/font-modular
	url = https://github.com/entr0pia/font-modular.git
[submodule "modules/Gboard_dict_3"]
	path = modules/Gboard_dict_3
	url = https://github.com/entr0pia/Gboard_dict_3.git
[submodule "modules/terminal_systemizer"]
	path = modules/terminal_systemizer
	url = https://github.com/entr0pia/terminal_systemizer.git
[submodule "modules/Greenify4Magisk"]
	path = modules/Greenify4Magisk
	url = https://github.com/entr0pia/Greenify4Magisk
[submodule "modules/TrichromeLibrary-Squoosh-mm"]
	path = modules/TrichromeLibrary-Squoosh-mm
	url = https://github.com/entr0pia/TrichromeLibrary-Squoosh-mm.git
